/*---------------------------- General Styles --------------------------------*/

body, html {
    font-family: Helvetica, Arial, sans-serif;
}
.serif {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}
.interface {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.code {
    font-family: Menlo, Consolas, Monaco, Courier, monospace;
}
.hidden {
    display: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 30px;
}
.link, #help-link {
    cursor: pointer;
    color: #aa0000;
    text-decoration: underline;
}

/*-------------------------------- Layout ------------------------------------*/

#container {
    margin: 50px;
}

#logo {
    margin-bottom: 25px;
}

#help-link, #help {
    font-size: 16px;
    margin-top: 25px;
}
    #help dt {
        color: #000;
        font-weight: bold;
        margin-bottom: 5px;
    }
    #help dd {
        color: #333;
        margin-bottom: 15px;
        max-width: 550px;
    }

#filter-help, #filter-display {
    position: absolute;
    left: 410px; top: 50px;
    font-size: 12px;
    color: #777;
    padding: 6px 12px;
    border: 2px solid #ccc;
    background: #f4f4f4;
    border-radius: 3px;
}
    #filter-display {
        border-color: #bce;
        color: #333;
        background: #ddeeff;
    }

#search {
    font-size: 16px;
    line-height: 22px;
}
    #search select {
        font-size: 16px;
        margin: 0 3px;
    }

.report {
    border: 1px solid #aaa;
}
    .report td, .report th {
        color: #333;
        padding: 5px 15px 5px 15px;
    }
        .report th {
            font-weight: bold;
        }
        .report tr.odd td {
            background: #f3f6fa;
            border: 1px solid #eee; border-left: 0; border-right: 0;
        }
        .report tr.title th {
            font-size: 22px;
            font-weight: bold;
            border: 1px solid #aaa; border-bottom-color: #ccc;
            padding: 12px 0 12px 10px;
            color: #333;
        }
        .report tr.header th {
            border-bottom: 1px solid #ccc;
        }
        .report td.first, .report th.first {
            font-weight: bold;
            color: #000;
            padding: 5px 50px 5px 10px;
            border-right: 1px solid #ccc !important;
        }
        .report td.last, .report th.last {
            border-right: 1px solid #aaa;
        }
