/*---------------------------- General Styles --------------------------------*/

body, html {
    font-family: Helvetica, Arial, sans-serif;
}
.serif {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}
.interface {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.code {
    font-family: Menlo, Consolas, Monaco, Courier, monospace;
}
.hidden {
    display: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 30px;
}
.link {
    cursor: pointer;
    color: #aa0000;
    text-decoration: underline;
}

/*-------------------------------- Layout ------------------------------------*/

#container {
    margin: 50px;
}

#logo {
    margin-bottom: 25px;
}

#filter-help, #filter-display {
    position: absolute;
    left: 410px; top: 50px;
    font-size: 12px;
    color: #777;
    padding: 6px 12px;
    border: 2px solid #ccc;
    background: #f4f4f4;
    border-radius: 3px;
}
    #filter-display {
        border-color: #bce;
        color: #333;
        background: #ddeeff;
    }

#search {
    font-size: 16px;
    line-height: 22px;
}
    #search select {
        font-size: 16px;
        margin: 0 3px;
    }
