/*---------------------------- General Styles --------------------------------*/

body, html {
    font-family: Helvetica, Arial, sans-serif;
}
.serif {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}
.interface, .button {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.code {
    font-family: Menlo, Consolas, Monaco, Courier, monospace;
}
.hidden {
    display: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 30px;
}
.link, #help-link {
    cursor: pointer;
    color: #aa0000;
    text-decoration: underline;
}
.button {
    cursor: pointer;
    background: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#777));
    background: -moz-linear-gradient(top, #bbb, #777);
    padding: 3px 10px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.7) 0 1px 1px; -moz-box-shadow: rgba(0,0,0,0.7) 0 1px 1px; box-shadow: rgba(0,0,0,0.7) 0 1px 1px;
    text-shadow: rgba(0,0,0,0.4) 0 1px 0;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: text-bottom;
}

/*-------------------------------- Layout ------------------------------------*/

#container {
    margin: 50px;
}

#logo {
}

nav {
    margin:20px 0;
}

#help-link, #help {
    font-size: 16px;
    margin-top: 20px;
}
    #help dt {
        color: #000;
        font-weight: bold;
        margin-bottom: 5px;
    }
    #help dd {
        color: #333;
        margin-bottom: 15px;
        max-width: 550px;
    }

#filter-help, #filter-display {
    display:inline;
    font-size: 12px;
    color: #777;
    padding: 6px 12px;
    border: 2px solid #ccc;
    background: #f4f4f4;
    border-radius: 3px;
}
    #filter-display {
        border-color: #bce;
        color: #333;
        background: #ddeeff;
    }

#search {
    font-size: 16px;
    line-height: 26px;
}
    #search select {
        font-size: 16px;
        margin: 0 3px;
    }

#proceed {
    position: absolute;
    margin-left: 5px;
    margin-top: -2px;
}

.report {
    border: 1px solid #aaa;
    margin-right: 25px;
    margin-bottom: 25px;
}

.report th {
    font-size: 22px;
    font-weight: bold;
    border: 1px solid #aaa; border-bottom-color: #ccc;
    padding: 12px;
    color: #333;
}

.report th .universe {
	font-weight: normal;
	font-size: 18px;
}

.report th.subhead {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #aaa; border-bottom-color: #ccc;
    padding: 6px;
    color: #333;
    text-align: right;
    font-family: Menlo, Consolas, Monaco, Courier, monospace;
}

.report td {
    color: #333;
    padding: 5px 5px 5px 15px;
    text-align: right;
}

.report td.label {
    color: #000;
    padding: 5px 50px 5px 10px;
    border-right: 1px solid #ccc !important;
    text-align: left;
    width: 300px;
}

.report td.label .key {
    font-size: 12px;
}

.report tr.odd td {
    background: #f3f6fa;
    border-top: 1px solid #eee; border-bottom: 1px solid #eee;
}

.report tr.odd td.first {
    border-left: 1px solid #aaa;
}

.report tr:last-child td {
    border-bottom-color: #aaa;
}

.report td.last, .report th.last {
    border-right: 1px solid #aaa;
}

.report tr.indent-0 td.label {
    font-weight: bold;
}

.report tr.indent-1 td.label {
    padding-left: 25px;
}

.report tr.indent-2 td.label {
    padding-left: 50px;
}

.report tr.indent-3 td.label {
    padding-left: 75px;
}

.report tr.indent-4 td.label {
    padding-left: 100px;
}

.report span.help_text {
    color:#A00;
    font-size:14px;
    cursor:pointer;
    text-decoration:underline;
}
